<!DOCTYPE html>
<html>

<head>
    <title>Monitor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://apis.mapmyindia.com/advancedmaps/v1/kae39ksflpcp2gfpawhdn2f5l4lum52i/map_load?v=01."></script>
    <style> html, body, #map {margin: 0;padding: 0;width: 100%;height: 100%;} </style>
</head>

<body>



<div class="container-fluid" id="map"></div>;
<div class="show"><h1>LolLol</h1></div>







<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyCIsw-NaikVqizX2F0PLduiEuLTCsgUQAM",
        authDomain: "new-f69de.firebaseapp.com",
        databaseURL: "https://new-f69de.firebaseio.com",
        projectId: "new-f69de",
        storageBucket: "new-f69de.appspot.com",
        messagingSenderId: "965850630220"
    };
    firebase.initializeApp(config);
</script>
<script src="js/jquery-3.3.1.min.js" ></script>
<script src="js/main.js"></script>
</body>
</html>